:root {
    --clr-white: #ffffff;
    --clr-white2: #f8f9fa;
    --clr-black: #000000;
    --clr-green: #B2FF33;
    --clr-gray: #858588;
    --clr-footer-bg: #003366;
    --clr-footer-txt: #8099b3;
    --clr-light-blue: #91c3e4;
}